{% extends 'base.html' %}
{% block navblock %}
    {% include 'user_nav.html' %}
{% endblock %}

{% block bodyblock %}
<div class="container">

    <div class="col-4 offset-4 mb-10">
        <h2>Login Form</h2>

        <form id="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label>Email address:</label>
                <div> {{ form.username(class="form-control", size="20") }}</div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                {{ form.password(class="form-control", size=20) }}
            </div>

            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary", id="btn_login") }}
            </div>

            <div class="form-group">
                <a href="{{url_for('register')}}">If you not a member, register yourself.</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footerblock %}
{% include 'footer.html' %}
<script src="{{url_for('static', filename='js/user_account.js')}}"></script>
<script>

    var xa = new crudOperation();
    xa.init();

</script>

{% endblock %}


